@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Regular');
}


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #222222;
  background:#111111;
}

.inputs{
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0);
  padding-top:100px;
  width: 100%;
  height: auto;
  max-width:50vw;
  text-align: left;
}

h3 {
  font-size: 8vw;
  font-weight: 100;
  text-align: left;
  color: #222222;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

textarea.nameInput{
    resize:none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:2.5vw;
    width:100%;
    box-sizing: border-box;
    margin:10px 0;
    border:none;
    background:#353535;
    color:#DEDEDE;
    padding:1.25vw 2vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
textarea.four{
    margin-bottom:30px; !important
}
.button{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:4vw;
    width:100%;
    box-sizing: border-box;
    margin-top:25px;
    border: none;
    color: #DEDEDE;
    background:green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.loading{
    visibility: hidden;
    position:fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index:20;
}

.sk-bounce{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
  z-index:20;
}
