body, input {
  color: rgb(248,248,248);
  background-color: rgb(40,40,40);
  font-family: sans-serif;
}

input {
	width: 100%;
  background-color: rgb(60,60,60);
  border-radius: 2px;
  border: none;
  padding: 6px;
  margin-bottom: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;    
}

#overlay {
    display: none;
    position:fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index:20;
}

#bounce-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
}

.sk-bounce {
  --sk-color:#FFFFFF;
  transform: translate(-50%, -50%);
}

.bounce-notice {
  transform: translate(-50%, 0%);
  color:white;
  margin-bottom: 6px;
}