<!DOCTYPE html>
<html>
<head> 
	<!-- export FLASK_APP=flasktest.py FLASK_ENV=development && flask run -->
		<meta charset="UTF-8">
		<title>Roermonder Straße</title>
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/spinkit.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
		<script>
				$(document).ready(function () {
					$("form").on( "submit", function(event) {
						event.preventDefault(); });
				});

				var save = function() {
					showClearedOverlay();
					var inputs = []
					$('.input_wrapper').each(function(index){
						inputs.push(
							$(this).find('input').map(function() {
							    return $(this).val();
							}).get().join("\n")
						);
					})
					postRequest('/_background_process', inputs)
				}

				var savePostbox = function () {
					showClearedOverlay();
					var inputs = []
					inputs = $('#postbox').find('input').map(function() {
					    return $(this).val();
					}).get();
					
					$('<div class="bounce-notice"/>').html('Bitte innerhalb der nächsten <span id="timer" data-left="30000">30</span> Sekunden am Briefkasten die Reset-Taste drücken').appendTo($('#bounce-wrapper'))
					startCountdown();
					postRequest('/_postbox', inputs)
				}

				var showClearedOverlay = function() {
					$('.bounce-notice').remove()
					$('#overlay').show();
				}

				var startCountdown = function() {
					var timer_el = $('#timer')
					if (timer_el !== undefined) {
						var countdown = setInterval(function() {
							var timeleft = parseInt(timer_el.data("left"))
							if (isNaN(timeleft) || timeleft == 0 || typeof(timeleft) != "number") {
								clearTimeout(countdown);
					    		$('#overlay').hide();
								return
							}
							var newtimeleft = timeleft-1000
							timer_el.text((newtimeleft/1000).toString())
							timer_el.data("left", newtimeleft)
						}, 1000);
					}
				}

				var postRequest = function(url, data){
					$.ajax({
					    type: 'POST',
					    url: url,
					    data: JSON.stringify(data),
					    success: function(resp) {
					    	$('#overlay').hide();
					    },
					    error: function(jqXHR, textStatus, errorThrown) {
					    	console.log(jqXHR);
					    	console.log(textStatus);
					    	console.log(errorThrown);
					    },
					    contentType: "application/json"
					});
				}

				var addLine = function(targetId){
					var inputs_wrapper = $('#' + targetId)
					var input_count = $(inputs_wrapper).children().length
					if (input_count < 3) $('<input/>').appendTo(inputs_wrapper);
					refreshButtons(inputs_wrapper)	
				}
				
				var removeLine = function(targetId) {
					var inputs_wrapper = $('#'+targetId)
					var input_count = $(inputs_wrapper).children().length
					if (input_count > 1) $(inputs_wrapper).children().last().remove()
					refreshButtons(inputs_wrapper)	
				}

				var refreshButtons = function(inputs_wrapper) {
					var buttons_wrapper = $('#' + inputs_wrapper.data("buttons"))
					var addBtn = buttons_wrapper.children().first()
					var reduceBtn = buttons_wrapper.children().last()
					var input_count = $(inputs_wrapper).children().length
					addBtn.prop( "disabled", false );
					reduceBtn.prop( "disabled", false );
					if (input_count > 2) addBtn.prop( "disabled", true );
					if (input_count < 2) reduceBtn.prop( "disabled", true );
				}
		</script>
</head>
<body>
	<div id="overlay">
		<div id="bounce-wrapper">
			<div class="sk-bounce">
				<div class="sk-bounce-dot"></div>
				<div class="sk-bounce-dot"></div>
			</div>
		</div>
	</div>
	<div class="h2" style="background-color: rgb(60,60,60);"></div>

	<header class="tc">
		<h3>ROERMONDER STR</h3>
	</header>
	<div class="inputs mb4">
		<form id="form" class="w-100 flex flex-column items-center">
			{% for name in names %}
				<div class="w-90 w-50-ns mb5">
					<div class="flex items-center mb2">
						{% set outer_loop = loop %}
						<div class="f4 w-10">{{ loop.index0+1 }}.</div>
						{% set lines = name.split("\n") %}
						<div class="input_wrapper w-90" id="inputs{{ outer_loop.index0 }}" data-buttons="buttons{{ outer_loop.index0 }}">
							{% for line in name.split("\n") %}
								<input value="{{line}}">
							{% endfor %}
						</div>
					</div>
					<div class="w-100 tr buttons_wrapper" id="buttons{{ outer_loop.index0 }}">
						<button class="f4 link dim bn br1 w2 pv1 mb2 dib black bg-silver"
								type="button" {% if lines|length > 2 %} disabled="disabled" {% endif %}
								onclick="addLine('inputs{{ outer_loop.index0 }}')">+</button>
						<button class="f4 link dim bn br1 w2 pv1 mb2 dib black bg-silver"
								type="button" {% if lines|length < 2 %} disabled="disabled" {% endif %}
								onclick="removeLine('inputs{{ outer_loop.index0 }}')">&#8722;</button>
					</div>
				</div>
			{% endfor %}
			<button class="f6 link dim bn br1 ph3 pv2 dib white bg-blue" style="cursor: pointer" type="button" onclick="save()">Klingelschilder Speichern</button>
		</form>
	</div>

	<div class="h2" style="background-color: rgb(60,60,60);"></div>

	<header class="tc">
		<h3>BRIEFKASTEN</h3>
	</header>
	<div class="w-100 flex flex-column items-center">
		<div id="postbox" class="w-90 w-50-ns mb4">
			{% for line in postboxlines %}
				<input class="db w-100 mb2" autocomplete="off" value="{{line}}">
			{% endfor %}
		</div>
		<div class="tc mb4"><button class="f6 link dim bn br1 ph3 pv2 dib white bg-blue" style="cursor: pointer" onclick="savePostbox()" type="button">Briefkasten Speichern</button></div>
	</div>
	<div class="h2" style="background-color: rgb(60,60,60);"></div>
</body>
</html>
